* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #a7d695;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* TEXT */
.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 3.5rem;
  color: #0b2b2b;
  line-height: 1.2;
}

.hero-text span {
  color: #0f766e;
}

.hero-text p {
  margin: 25px 0;
  color: #4b5d5d;
  line-height: 1.6;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn.primary {
  background: #4aa3a3;
  color: white;
}

.btn.dark {
  background: #0b2b2b;
  color: white;
}

/* IMAGE */
.hero-image {
  position: relative;
}

.circle-bg {
  width: 380px;
  height: 380px;
  background: #0f766e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg img {
  width: 320px;
  border-radius: 50%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}
.about-section {
  padding: 80px 60px;
  background-color: #fff;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Image Area */
.about-image {
  position: relative;
  width: 320px;
  height: 320px;
}
.ring {
  position: absolute;
  border-radius: 50%;
}
.outer-ring {
  width: 320px;
  height: 320px;
  border: 6px solid #5dcece;
}
.dotted-ring {
  width: 280px;
  height: 280px;
  border: 6px dotted #37cec7;
  top: 20px;
  left: 20px;
}
.image-circle {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}
.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Project Label */
.project-label {
  position: absolute;
  bottom: -30px;
  right: 0;
  background-color: #ecf4f4;
  color: #12121297;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}
.project-label h4 {
  margin: 0;
  font-size: 18px;
}
.project-label p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* Text Content */
.about-content {
  flex: 1;
  max-width: 600px;
  padding-left: 40px;
}
.about-content h5 {
  font-size: 18px;
  color: #58f1da;
  margin-bottom: 10px;
}
.about-content h2 {
  font-size: 32px;
  color: #0b2b2b;
  margin-bottom: 20px;
}
.about-content h3 {
  font-size: 22px;
  margin-top: 20px;
  color: #0f766e;
}
.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
